button, input[type="submit"] {
  border: 1px solid #245aa6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477DCA;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477DCA), color-stop(100%, #2761b2));
  background-image: -webkit-linear-gradient(#477DCA, #2761b2);
  background-image: linear-gradient(#477DCA, #2761b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b509a;
  background-clip: padding-box;
  font-size: 1em; }
  %button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628dc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  %button:active:not(:disabled) {
    border: 1px solid #245aa6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eee; }
  %button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  resize: vertical;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  margin-bottom: 1.5em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.error, #flash_failure {
  background: #FBE3E4;
  color: #96151c;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  .error a, #flash_failure a {
    color: #6a0f14; }
    .error a:hover, #flash_failure a:hover {
      color: #110203; }

.notice, #flash_notice {
  background: #FFF6BF;
  color: #8c7700;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  .notice a, #flash_notice a {
    color: #594c00; }
    .notice a:hover, #flash_notice a:hover {
      color: black; }

.success, #flash_success {
  background: #E6EFC2;
  color: #56651a;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  .success a, #flash_success a {
    color: #333c10; }
    .success a:hover, #flash_success a:hover {
      color: black; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

.whiteboard {
  width: 100%;
  background: url('/img/wall.png'); }

.top {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-top: 10px solid #333333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  box-shadow: 0 5px 4px -2px #222; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 10px solid #000000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  box-shadow: 0 -5px 4px -2px #222; }

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000000;
  border-top: 10px solid transparent;
  box-shadow: 0 -5px 4px 2px #222; }

.right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333333;
  border-top: 10px solid transparent;
  box-shadow: 0 5px 4px 2px #222; }

.header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.title, .subtitle {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .title:last-child, .subtitle:last-child {
    margin-right: 0; }

.subtitle {
  margin-left: 25.58941%; }

.title {
  padding-bottom: 30px;
  margin-left: 25.58941%; }

.register {
  margin-top: 30px;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 1.6rem; }
  .register:last-child {
    margin-right: 0; }
  .register a {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2); }

.content {
  background-color: #ffffff; }

.assets {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  z-index: -1; }
  .assets:before, .assets:after {
    content: " ";
    display: table; }
  .assets:after {
    clear: both; }
  .assets .line {
    position: absolute;
    top: 420px;
    right: 880px;
    width: 240px; }
  .assets .leaf {
    position: absolute;
    top: 580px;
    right: 80px;
    width: 260px; }
  .assets .sun {
    position: absolute;
    top: 700px;
    right: 500px;
    width: 250px; }

.dryerase, .redmarker {
  position: absolute;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .dryerase:last-child, .redmarker:last-child {
    margin-right: 0; }

.dryerase {
  bottom: 10px;
  left: 50px;
  width: 100px; }

.redmarker {
  bottom: 10px;
  left: 180px;
  width: 100px; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .text:last-child {
    margin-right: 0; }

.hero {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 100%;
  height: 300px; }
  .hero h1 {
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6rem; }
  .hero p {
    padding-top: 20px;
    font-size: 1.4rem; }

.parallax {
  overflow: hidden; }
  .parallax img {
    width: 100%;
    min-width: 800px;
    height: auto;
    display: inline-block; }

.hero.parallax {
  height: 400px; }

.use {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .use:last-child {
    margin-right: 0; }

.end {
  margin-right: 0; }

.img-shadow {
  height: 400px;
  position: relative;
  max-width: 100%;
  float: left; }

.img-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8); }

.img-shadow img {
  float: left; }

.hero.features {
  height: 500px; }
  .hero.features .container h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .hero.features .container h1:last-child {
      margin-right: 0; }
  .hero.features .container h2 {
    margin-bottom: 20px; }
  .hero.features .container .col {
    padding-top: 60px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .hero.features .container .col:last-child {
      margin-right: 0; }

.hero.supported {
  height: 400px; }
  .hero.supported h1 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .hero.supported .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .hero.supported .col:last-child {
      margin-right: 0; }
    .hero.supported .col img {
      width: 200px; }
  .hero.supported .ios {
    padding-top: 50px; }

.hero.footer {
  height: 140px;
  background-color: #222222;
  color: #ffffff;
  font-size: 0.8rem; }
  .hero.footer .foot {
    margin-top: 30px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .hero.footer .foot:last-child {
      margin-right: 0; }
  .hero.footer .container {
    text-align: left; }
