extends layout

block links
  link(rel="stylesheet", href="/css/whiteboard.css")

block scripts
  script(src="js/fabric.js")
  script(src="js/globals.js")
  script(src="js/whiteboard.js")
  script(src="js/whiteboard-angular.js")

block content
  .whiteboard-app(ng-app="whiteboardApp")
    .title-container
      span#title 
    #zoomwrapper
      .drag.drag1
        #whiteboard-container(ng-controller="whiteboardCtrl")
          canvas#whiteboard( width='{{canvasWidth}}', height='{{canvasHeight}}' )
    .btn-container
      button#select-on Select
      button#draw-on Draw
      button#clear-canvas Clear
      button#zoom-in Zoom In
      button#zoom-out Zoom Out
      button#default-view 100%
      button#erase Erase
      button#undo Undo Erase
      button#pan-up Up
      button#pan-down Down
      button#pan-left Left
      button#pan-right Right
      button#zoom-mode Zoom Mode
      input#sessionId(type='text', placeholder="Session ID")
      input#sessionSubmit(type='submit')

      br
      // Pen
      span.info Pen Size: 
      span.info 5
      input#drawing-line-width(type='range', value='5', min='1', max='150')
      span.info Pen Color:
      input#drawing-color(type='color', value='#000')
       
      // Text
      input#input-text(type="text", placeholder="Place text here")
      select#font_name(name='font_name', form='font_name')
        option(value="Times New Roman") Times New Roman
        option(value="Helvetica") Helvetica
        option(value="Courier New") Courier New
      span.info Text Size:
      span.info 40
      input#text-size(type='range', value='40', min='10', max='100')
      span.info Text Color:
      input#text-color(type='color', value='#000')
      label.info(for='bold_text') B
        input#bold_text(type='checkbox', value='off')
      label.info(for='italic_text') I
        input#italic_text(type='checkbox', value='off')
      label.info(for='underline_text') U
        input#underline_text(type='checkbox', value='off')
      button#add-text Add Text
        
