extends layout

block links
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel="stylesheet", href="/css/whiteboard.css")

block scripts
  script(src='/js/bootstrap.js')
  script(src="js/fabric.js")
  script(src="js/globals.js")
  script(src="js/whiteboard.js")
  script(src="js/whiteboard-angular.js")
  script(src="js/hammer.js")
  script(src"js/jquery.hammer.js")
  script(src"js/modernizr.js")

block content
  .whiteboard-app(ng-app="whiteboardApp")
    .title-container
      span#title 
    #zoomwrapper
      .drag.drag1
        #whiteboard-container(ng-controller="whiteboardCtrl")
          canvas#whiteboard( width='{{canvasWidth}}', height='{{canvasHeight}}' )
    .btn-container.row
      .modes.col-md-2
        h5.title Mode
        button#select-on.btn.btn-default Select
        button#draw-on.btn.btn-default  Draw
        button#zoom-mode.btn.btn-default  Zoom

      .board.col-md-3
        h5.title Board
        button#clear-canvas.btn.btn-default  Clear
        button#erase.btn.btn-default  Erase
        button#undo.btn.btn-default  Undo Erase
        input#sessionId.form-control(type='text', placeholder="Session ID")
        input#sessionSubmit.btn.btn-default(type='submit')
        button#img-download.btn.btn-default Take Snapshot
      
      .view.col-md-2
        h5.title View
        button#zoom-in.btn.btn-default Zoom In
        button#zoom-out.btn.btn-default Zoom Out
        button#default-view.btn.btn-default 100%
        button#pan-up.btn.btn-default Up
        button#pan-down.btn.btn-default Down
        button#pan-left.btn.btn-default Left
        button#pan-right.btn.btn-default Right

      .pen.col-md-2
        h5.title Pen
        span.info Pen Size: 
        span.info 5
        input#drawing-line-width(type='range', value='5', min='1', max='150')
        span.info Pen Color:
        input#drawing-color(type='color', value='#000')
       
      .text.col-md-3
        h5.title Text
        input#input-text.form-control(type="text", placeholder="Place text here")
        button#add-text.btn.btn-default Add Text
        select#font_name.form-control(name='font_name', form='font_name')
          option(value="Times New Roman") Times New Roman
          option(value="Helvetica") Helvetica
          option(value="Courier New") Courier New
        span.info Text Size:
        span.info 40
        input#text-size(type='range', value='40', min='10', max='100')
        span.info Text Color:
        input#text-color(type='color', value='#000')
        label.info(for='bold_text') B
          input#bold_text(type='checkbox', value='off')
        label.info(for='italic_text') I
          input#italic_text(type='checkbox', value='off')
        label.info(for='underline_text') U
          input#underline_text(type='checkbox', value='off')
          
