extends layout

block links
  link(rel="stylesheet", href="/css/whiteboard.css")

block scripts
  script(src="js/fabric.js")
  script(src="js/globals.js")
  script(src="js/whiteboard.js")
  script(src="js/whiteboard-angular.js")

block content
  .content(ng-app="whiteboardApp")
    #whiteboard-container(ng-controller="whiteboardCtrl")
      canvas#whiteboard( width='{{canvasWidth}}', height='{{canvasHeight}}' )
