#whiteboard {
  border: 1px solid black;
}

.btn-container {
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #3d3d3d;
}
