#whiteboard {
  border: 1px solid black;
}

.btn-container {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 600px;
  background-color: #000000;
  opacity: 0.7;
 
}
.col-md-2 {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.title-container {
  text-align: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #000000;
  z-index: 100;
  opacity: 0.7;
}

#title {
  color: #eee;
}

.info {
  color: white;
}

.title {
  color: #e2e2e2;
  padding: 5px;
  margin: 2px;
}
